<p>
  login works!
</p>
<div>
<h2>Please login</h2>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" required [(ngModel)]="email" name="email" #emailCheck="ngModel">
  </div>
  <div [hidden]="emailCheck.valid || emailCheck.pristine">
    email is required
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" required [(ngModel)]="password" name="password" #passCheck="ngModel">
  </div>
  <div [hidden]="passCheck.valid || passCheck.pristine">
    password is required
  </div>
  <button type="submit" [disabled]="passCheck.invalid || emailCheck.invalid">Login</button>


  <br>
  testemail:{{testUsername}}
</form>
  <br>

    <label for="registerBtn">No account? Click here to register:</label>
    <button id="registerBtn" routerLink="/register">register</button>
</div>

