<p>
  reddit works!
</p>
<app-account-small></app-account-small>
<div>
<div style="text-align:center" *ngIf="subreddit; else emptySubreddit">
  <h1>
  {{subreddit.name}}
</h1>
<label>go to subreddit:</label>
    <input type="text" class="form control" id="gotoName" [(ngModel)]="gotoName" name="gotoName">
    <button routerLink="/r/{{gotoName}}">go to</button>
</div>
<ng-template #emptySubreddit> This subreddit does not exist </ng-template>

  <app-post-list [subredditName]="name"></app-post-list>
  <app-post-create *ngIf="!isAll" [subredditName]="name"></app-post-create>
</div>

<app-reddit-create></app-reddit-create>
